@model WLT_HealthMonitor.Models.wlt_HealthNotificationHistory

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>wlt_HealthNotificationHistory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateSent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateSent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ifkUserID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ifkUserID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ifkServerID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ifkServerID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isSent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isSent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Resource)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Resource)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ipkHistoryID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
